/*******************************
= 1. Global CSS / Normalization
= 2. Top-Banner Section
= 3. Biography Section
= 4. Latest-Work Section
= 5. Client Feedback Section
= 6. Get In Touch Section
= 7. Footer Section
********************************/

/* 1. Global CSS / Normalization */
*{
    margin: 0;
}
header{
    padding-top: 85px;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
/* ul{
    list-style: none;
} */
section{
    padding: 85px 0px;
}
h3,h1,p{
    padding: 10px 0px;
}
h3{
    font-size: 34px;
    color: #202428;
}
h1{
    font-size: 34px;
    color: #EC4C7A;
}
h4,h6{
    text-align: center;
    padding: 5px 0px;
}
a{
    text-decoration: none;
}
p{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #707070;
}
.half-width{
    width: 50%;
    float: left;
}
.half-width img{
    width: 100%;
    transition: ease 0.4s all;
}
.half-width img:hover{
    transform: scale(1.1,1.1);
}
.btn{
    padding: 14px 40px;
    color: #fff;
    background-image: linear-gradient(90deg, #EC4F8F, #ED4B6F);
    border-radius: 10px;
    transition: ease 0.3s all;
}
.btn:hover{
    box-shadow: 3px 4px #333;
}
/* 2. Top-Banner Section */
.top-banner{
    background-image: url(../images/header-bg.png);
    background-repeat: no-repeat;
    height: 700px;
    background-size: cover;
}
.top-banner h1{
    font-size: 54px;
}
.banner-des{
    margin-top: 16%;
    animation: bannerAni 30s forwards 0s ease;
}
@keyframes bannerAni{
    0%{
        transform: rotate(0) translateY(-100%);
        opacity: 0;
        }
    10%{
        transform: rotate(0) translateY(0);
        opacity: 1;
        }
}
.btn-sec{
    margin-top: 8%;
}
/* 3. Biography Section */
.biography{
    background-image: url(../images/biography-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}
.biography-des {
    width: 40%;
    margin-left: 10%;
    margin-top: 15%;
}

/* 4. Latest-Work Section */
.latest-work{
    background-image: url(../images/latest-work-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}
.latest-work h1{
    color: #202428;
    text-align: center;
    padding-bottom: 100px;
    font-size: 34px;
}
.latest-work img{
    width: 33.33%;
    float: none;
    transition: ease 0.4s all;
}
.latest-work img:hover{
    transform: scale(1.1,1.1);
}
/* 5. Client Feedback Section */

.client-feedback{
    background-image: url(../images/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;

}
.client-feedback h1{
    color: #202428;
    text-align: center;
    padding-bottom: 100px;
    font-size: 34px;
}
.client-feedback h4{
    font-size: 1.2em;
    font-weight: normal;
}
.client-feedback h6{
    font-size: 0.8em;
    font-weight: normal;
    letter-spacing: 1pt;
}
.client-feedback p{
    font-size: 1.5em;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    line-height: 24pt;
    padding: 24px 0px;
}
.msg-box{
    width: 61%;
    height: 160px;
    background-image: linear-gradient(90deg, #EC4F8F, #EC4B75);
    border-radius: 10px;
    margin: 24px auto;
    text-align: center;
    color: #fff;
}
.msg_txt{
    padding-top: 37px;
}
.msg_txt h3{
    font-size: 1.5em;
    letter-spacing: 1pt;
}
.msg_txt h4{
    font-size: 1.2em;
    letter-spacing: 1pt;
    font-weight: normal;
}
/* 8. Get in touch section */
.get-touch{
    padding-bottom: 50px;
    background-image: url(../images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.get-touch h1{
    text-align: center;
    padding-bottom: 100px;
}
.common-touch{
    width: 50%;
    float: left;
}
.g-txt{
    padding-left: 20%;
}
input[type=text], input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


input[type=submit] {
  background-color: #4CAF50;
  color: white;
  border: none;
}

input[type=submit]:hover {
  opacity: 0.8;
}
.subs-form{
    margin-left: 20%;
}

/* 7. Footer Section */
footer{
    width: 100%;
    padding-top: 100px;
    padding-bottom: 50px;
    float: left;
    text-align: center;
    background-image: url(../images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

/* Media Query */

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media screen and (max-width: 500px) {
    header{
        padding-top: 0;
    }
    h3 {
        font-size: 26px;
        color: #202428;
    }
    .top-banner h1 {
        font-size: 34px;
    }
    .top-banner p{
        width: 70%;
    }
    .banner-des {
        margin-top: 1%;
        margin-left: 3%;
    }
    .top-banner .half-width img{
        width: 50%;
        margin-left: 32%;
        margin-top: -8%;
    }
    .btn-sec {
        margin-top: 4%;
    }
    .top-banner {
        height: 530px;
    }
    .biography img{
        margin-left: 8%;
        width: 50%;
    }
    .biography-des {
        width: 100%;
        margin-left: -24%;
        margin-top: 6%;
        position: absolute;
        top: 185%;
        left: 33%;
    }
    .biography-des p{
        width: 90%;
    }
    .biography {
        height: 545px;
    }

    .latest-work img {
        width: 30%;
        margin: 10px 7%;
    }
    .latest-work h1 {
        margin-left: 16%;
        font-size: 23px;
        text-align: inherit;
        padding-bottom: 10px;
    }
    .client-feedback {
        padding-top: 323px;
    }
    .m-device{
        width: 42%;

    }
    .get-touch h1 {
        text-align: inherit;
        padding-bottom: 20px;
        margin-left: 12%;
    }
    .common-touch {
        width: 37%;
        padding: 30px 0px;
        float: none;
    }
    iframe{
        width: 100%;
        margin-left: 7%;
    }
        .msg_txt h3 {
        font-size: 1.2em;
        letter-spacing: 1pt;
    }
    footer {
        padding-top: 0px;
        padding-bottom: 0px;
        float: left;
        text-align: center;
        background-image: none;
    }

  
}
